body {
    background: #fafafa;
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
    color: #333;
}

/* Fix Typeahead */
.twitter-typeahead { display: block !important; }
.twitter-typeahead .tt-hint { padding: 5px 11px; }

#container {  padding-top: 80px; }


.breadcrumb { background: none; padding: 0; }

#cities .city { white-space: nowrap; padding: 5px 40px 5px 10px; }

.ad { margin-bottom: 20px; }
.ad .ad-title { line-height: 1.5em; height: 3em; overflow: hidden; margin-bottom: 10px; }
.ad .ad-picture { padding: 10px; background: #EEE }
.ad .ad-picture img { width: 100%; height: 0; padding-bottom: 70%; background-size: contain; background-repeat: no-repeat; background-position: 50% 50% }
.ad .ad-actions { padding: 5px; margin-top: 5px; border-top: solid 1px #EEE; }