<div class="page-header row">
    <h3 class="col-md-9">
        {{ search.title || 'Aucun titre' }}

        <span class="buttons">
        </span>
    </h3>
    <div class="col-md-3">
        <div class="text-muted text-right" style="margin-top:2em">
            <small>Dernière mise-à-jour: {{ search.updatedAt | prettyDate }}</small>
        </div>
    </div>
</div>

<form class="form-horizontal" role="form" ng-submit="submit()">
    <div class="panel panel-default">
        <div class="panel-heading">
            <big>Informations</big>
        </div>
        <div class="panel-body">
            <div class="form-group">
                <label class="col-md-3 control-label">Titre :</label>
                <div class="col-md-7">
                    <input type="text" class="form-control input-lg" ng-model="search.title" required="required">
                </div>
            </div>

            <div class="form-group urls">
                <label class="col-md-3 control-label">URL :</label>
                <div class="col-md-9">
                    <div class="url input-group" ng-repeat="url in urls">
                        <input type="text" class="form-control" ng-model="url.link" required="required">   
                        <span class="input-group-btn">
                            <a class="btn" href="javascript:;">
                                <i class="icon-remove text-danger" ng-click="removeUrl($index)"></i>
                            </a>
                        </span>
                    </div>

                    <a href="javascript:;" ng-click="addUrl('')">Ajouter une URL</a>
                </div>
            </div>

            <div class="form-group" ng-show="search._id">
                <label class="col-md-3 control-label">Date de dernière mise à jour :</label>
                <div class="col-md-9">
                    <input type="datetime" class="form-control" ng-model="search.updatedAt" required="required">
                </div>
            </div>

            <div class="form-group">
                <label class="col-md-3 control-label">Fréquence de mise à jour :</label>
                <div class="col-md-2">
                    <div class="input-group">
                        <input type="text" class="form-control text-right" ng-model="search.updateFrequency" required="required" pattern="^[0-9]+$">
                        <span class="input-group-addon">s</span>
                    </div>
                </div>
            </div>

            <div class="form-group">
                <div class="col-md-9 col-md-offset-3">
                    <div class="checkbox">
                        <label>
                            <input type="checkbox" ng-model="search.photoOnly">
                            Uniquement avec photo
                        </label>
                    </div>
                </div>
            </div>

            <div class="form-group">
                <label class="col-md-3 control-label">Villes :</label>
                <div class="col-md-9">
                    <div class="well">
                        <span>Rechercher :</span>
                        <input id="cities-search" type="text" class="form-control" lbc-typeahead="typeahead" />
                    </div>

                    <div class="cities row">
                        <div class="city-empty text-center" ng-hide="search.cities.length">
                            <big class="text-muted">Toutes les villes</big>
                        </div>

                        <div class="col-sm-6 col-md-4" ng-repeat="city in search.cities">
                            <div class="city">
                                {{ city.realName }} <small class="text-muted">{{ city.postcode }}</small>

                                <span class="pull-right">
                                    <a href="javascript:;" title="Retirer cette ville" ng-click="removeCity(city)">
                                        <i class="icon-trash text-danger"></i>
                                    </a>
                                </span>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="panel-footer">
            <div class="row">
                <div class="col-lg-offset-3 col-lg-9">
                    <button type="submit" class="btn btn-primary">Enregister</button>
                </div>
            </div>
        </div>
    </div>
</form>
