<div id="title" class="page-header row">
    <h3 class="col-md-9">
        {{ search.title }}

        <span class="buttons">
            <a href="#/search/{{ search._id }}/edit" title="Editer la recherche">
                <i class="icon-cog text-default"></i>
            </a>
            <a href="#/search/new" title="Nouvelle recherche">
                <i class="icon-plus-sign text-default"></i>
            </a>
        </span>
    </h3>
    <div class="col-md-3">
        <div class="text-muted text-right" style="margin-top:1.5em">
            <small>Dernière mise-à-jour: {{ search.updatedAt | prettyDate }}</small>
        </div>
    </div>
</div>

<div class="row" infinite-scroll="more()" infinite-scroll-disabled="loading" infinite-scroll-distance="1">
    <div class="col-sm-6 col-md-4 col-lg-3" ng-repeat="ad in ads">
        <div class="ad panel {{ad.updatedAt > ad.createdAt && 'panel-success' || 'panel-info'}}">
            <div class="panel-heading">
                {{ ad.city }}

                <div class="pull-right">
                    <i class="icon-camera"></i>
                    <span>{{ ad.nbPictures }}</span>
                </div>
            </div>

            <div class="ad-picture">
                <img style="background-image:url({{ ad.picture }})" alt="" />
            </div>
                            
            <div class="panel-body">
                <div class="ad-title">
                    <a href="{{ ad.url }}">{{ ad.title }}</a>
                </div>
                
                <div class="clearfix">
                    <div class="pull-left">
                        <small class="text-muted">{{ ad.updatedAt | prettyDate }}</small>&nbsp;&nbsp;
                        <span class="label label-danger" ng-show="ad.pro">PRO</span>
                    </div>
                    <div class="pull-right">
                        <span ng-bind-html="growthIcon(ad)"></span>
                        <b>{{ ad.price | price }}</b>
                    </div>
                </div>
            </div>

            <!-- <div class="ad-actions clearfix">
                <div class="btn-group pull-left">
                    <button class="btn">
                        <i class="icon-star-empty"></i>
                    </button>
                    <button class="btn dropdown-toggle" data-toggle="dropdown">
                        <span class="caret"></span>
                    </button>
                    <ul class="dropdown-menu">
                        <li><a href="#">Test</a></li>
                    </ul>
                </div>
                <div class="btn-group pull-right">
                    <button class="btn">
                        <i class="icon-remove-sign"></i>
                    </button>
                </div>
            </div> -->
        </div>
    </div>
</div>
