<div class="page-header">
    <span class="pull-right" ng-show="ad.pro">
        <span class="label label-danger">PRO</span>
    </span>

    <h3>
        {{ ad && ad.title || 'Chargement...' }}

        <span class="buttons" ng-show="ad">
            <a href="{{ ad.url }}" target="_blank" title="Ouvrir l'annonce dans leboncoin.fr (nouvel onglet)">
                <span class="icon-external-link-sign text-default"></span>
            </a>

            <a href="javascript:;" ng-click="reload()" title="Rafraichir">
                <span class="icon-retweet text-default" ng-class="{ 'icon-spin': reloading }"></span>
            </a>
        </span>
    </h3>
</div>
<div class="row" ng-show="ad" style="margin-bottom: 40px">
    <div class="col-md-6" ng-if="ad">
        <div id="gallery" slideit="ad.pictures"></div>
    </div>
    <div class="col-md-6">
        <div class="alert alert-danger" ng-show="ad.deleted">
            Cette annonce à été supprimée de Leboncoin.fr
        </div>

        <table class="table" ng-show="ad">
            <tr ng-show="ad.phoneNumber">
                <td nowrap><b>Téléphone :</b></td>
                <td width="100%"><img ng-src="{{ ad.phoneNumber }}" /></td>
            </tr>
            <tr ng-show="ad.createdAt">
                <td nowrap><b>Date de création :</b></td>
                <td width="100%">{{ ad.createdAt|prettyDate }}</td>
            </tr>
            <tr ng-show="ad.postcode">
                <td nowrap><b>Code postal :</b></td>
                <td width="100%">{{ ad.postcode }}</td>
            </tr>
            <tr ng-show="ad.price">
                <td nowrap><b>Prix :</b></td>
                <td width="100%">{{ ad.price | price }}</td>
            </tr>
            <tr ng-show="ad.city">
                <td nowrap><b>Ville :</b></td>
                <td width="100%">{{ ad.city }}</td>
            </tr>
            <tr ng-show="ad.department">
                <td nowrap><b>Département :</b></td>
                <td width="100%">{{ ad.department }}</td>
            </tr>
            <tr ng-show="ad.surface">
                <td nowrap><b>Surface :</b></td>
                <td width="100%">{{ ad.surface }} m²</td>
            </tr>
            <tr ng-show="ad.pieces">
                <td nowrap><b>Nombre de pièce :</b></td>
                <td width="100%">{{ ad.pieces }}</td>
            </tr>
            <tr ng-show="ad.eer">
                <td nowrap><b>Classe énergie :</b></td>
                <td width="100%">{{ ad.eer }}</td>
            </tr>
            <tr ng-show="ad.eir">
                <td nowrap><b>GES :</b></td>
                <td width="100%">{{ ad.eir }}</td>
            </tr>
            <tr ng-show="ad.description">
                <td nowrap><b>Description :</b></td>
                <td width="100%" ng-bind-html="ad.description|nl2br"></td>
            </tr>
        </table>
    </div>
</div>