<ul class="thumbnails">
    <li class="ad span3" ng-repeat="i in [1,2,3,4,5,6]">
        <div class="thumbnail">
            <img src="http://193.164.197.50/images/453/453328030433711.jpg" alt="">
            <h5><a href="#/ad/1">Rare 17 km Lyon maison 68 m2 dans cadre de verdure</a></h5>
            
            <div class="clearfix">
                <p class="pull-left">Lyon 69007</p>
                <p class="pull-right"><b>210 000 €</b></p>
            </div>

            <div class="ad-actions clearfix">
                <div class="btn-group pull-left">
                    <button class="btn">
                        <i class="icon-star-empty text-warning"></i>
                    </button>
                    <button class="btn dropdown-toggle" data-toggle="dropdown">
                        <span class="caret"></span>
                    </button>
                    <ul class="dropdown-menu">
                        <li><a href="#">Test</a></li>
                    </ul>
                </div>
                <div class="btn-group pull-right">
                    <button class="btn btn-danger">
                        <i class="icon-remove-sign"></i>
                    </button>
                </div>
            </div>
        </div>
    </li>
</ul>
