<div class="row">
    <div class="col-sm-6 col-md-3" ng-repeat="ad in ads">
        <div class="thumbnail ad">
            <div class="text-muted">{{ ad.publishedAt }}</div>
            
            <div class="ad-nbPictures label label-info">
                <i class="icon-camera"></i>
                <span>{{ ad.nbPictures }}</span>
            </div>

            <img class="ad-picture" style="background-image:url({{ ad.picture }})" alt="">
            
            <h5 class="ad-title">
                <span class="label label-danger" ng-show="ad.pro">PRO</span>
                <a href="#/ad/1">{{ ad.title }}</a>
            </h5>
            
            <div class="clearfix">
                <p class="pull-left">{{ ad.city }}</p>
                <p class="pull-right"><b>{{ ad.price | price }}</b></p>
            </div>

            <div class="ad-actions clearfix">
                <div class="btn-group pull-left">
                    <button class="btn">
                        <i class="icon-star-empty"></i>
                    </button>
                    <button class="btn dropdown-toggle" data-toggle="dropdown">
                        <span class="caret"></span>
                    </button>
                    <ul class="dropdown-menu">
                        <li><a href="#">Test</a></li>
                    </ul>
                </div>
                <div class="btn-group pull-right">
                    <button class="btn">
                        <i class="icon-remove-sign"></i>
                    </button>
                </div>
            </div>
        </div>
    </div>
</div>